---
layout: default
title: Blog Page 
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Image Banner  ------------------------>
<section class="bg-image bg-blog-cover padded grid bg-overlay bg-overlay-gradient tall-90">

    <div class="col-12-middle center text-light">
        <h2> Bunvenit pe blogul nostru! </h2>
        <p class="emphasis margin-t-2"> Am creat secțiunea de blog din dorința de a ajuta atât potențialii clienți să ia decizii informate <br> în amenajarea gradinii lor, cât și cumparătorii noștri cu sfaturi de prelungire a vieții colțului lor de natură. </p>
    </div>

</section>

<!------------------------ Split blog loop (part 1) ------------------------>
<section class="padded bg-light">

    <div class="capped-width grid-center">

    <div class="col-9_sm-12 padded-05 center margin-b-1 padded-2">
        <h2> Cele mai recente articole </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat necessitatibus? Praesentium fugit ex neque magni, possimus, iste itaque voluptatem id doloremque voluptas consequatur dolor cumque! Dolores possimus laboriosam adipisci.</p>
    </div>

        {% for post in site.posts limit:3 %}

            {% include post-loop-item-square.html %}

        {% endfor %}

    </div>

</section>


<!------------------------ CTA Banner  ------------------------>
<section class="bg-light"> 

    <div class="bg-featured capped-width text-light padded center"> 
        <div class="capped-width-narrow">
            <h3> Vrei să-ți amenajezi grădina? </h3>
            <p> Dacă ai citit o idee pe care ai vrea s-o aplici in gradina ta insă nu știi exact cum, ia legatura cu noi și te vom consilia! </p>
            <a href="/contact" class="button margin-t-2"> Contactează-ne </a>
        </div>
    </div>

</section> 


<!------------------------ Split blog loop (part 2) ------------------------>
<section class="padded bg-light">

    <div class="capped-width grid-center">

        {% for post in site.posts limit:12 offset:3 %}

                {% include post-loop-item-square.html %}

        {% endfor %}

    </div>


    <!-- This checks if there are more than 15 blog posts, and if there are shows a link to the full blog archive -->

    {% assign post_count = site.posts | size %}
    
    {% if post_count > 15 %}
        <div class="center padded">
            <a class="button" href="/blog-archive"> See More </a>
        </div>
       
    {% endif %}

</section>

