/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* Font styles */
/* font-family: 'Montserrat', sans-serif; light 300, regular 400 & italic, medium 500, semibold 600
   font-family: 'Poppins', sans-serif; light 300 & italic, regular 400 & italic, medium 500, semibold 600*/

/* ----------- CSS RESET --------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
img { max-width: 100%; height: auto; }

/* Override default gridlex padding */ 
[class*=col] { padding: 0; }
[class*=grid] { margin: 0; }

section { position: relative; }




/* ---------- Negative Space Utility Classes  ------------------ */ 

.capped-width-wide      { max-width: 1600px; margin: auto; }
.capped-width           { max-width: 1200px; margin: auto; }
.capped-width-narrow    { max-width: 1000px; margin: auto; }
.capped-width-v-narrow  { max-width: 800px;  margin: auto; }


.tall-100 { min-height: 100vh; }
.tall-90  { min-height: 90vh; }
.tall-80  { min-height: 80vh; }
.tall-70  { min-height: 70vh; }
.tall-60  { min-height: 60vh; }
.tall-50  { min-height: 50vh; }

/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-15  { padding: 1.5rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-lg {padding-top: 4rem;}
.padded-b-lg {padding-bottom: 4rem;}

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-05 { margin-top: 0.5rem; }
.margin-b-05 { margin-bottom: 0.5rem; }
.margin-l-05 { margin-left: 0.5rem; }
.margin-r-05 { margin-right: 0.5rem; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

/* ------------ Backgrounds & Background Images  ----------------------- */

.bg-dark     { background-color: var(--dark);}
.bg-featured { 
  background-color: var(--featured);
  opacity: 0.9;
}
.bg-orange   { background-color: var(--orange); }
.bg-light    { background-color: var(--light); }
.bg-v-light  { background-color: var(--v-light); }


.bg-image {
    background-color: var(--v-light); /* Set a fall-back color while images are loading */ 
    background-image: url('/images/main_banner.webp');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.bg-logo {
  background-image: url('/images/bg-light-logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-footer-logo {
  background-image: url('/images/logo-1.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-blog-cover { 
  background-image: url(/images/blog-cover.jpg);
  background-position: center; 
}

.bg-gardening { 
  background-image: url(/images/bg-gardening.jpg);
}

.bg-garden { 
  background-image: url(/images/bg-garden.webp);
  background-position: center; 
} 

.bg-plant-services { 
  background-image: url(/images/bg-plant-services.jpeg);
  background-position: center; 
}

.bg-contact-cover  { 
  background-image: url(/images/bg-contact-cover.jpg);
  background-position: center; 
}

.bg-shipping{ 
  background-image: url(/images/bg-shipping.jpg);
  background-position: bottom; 
}

.bg-gallery-1{ 
  background-image: url(/images/p1.jpg);
}

.bg-gallery-2{ 
  background-image: url(/images/p2.jpg);
}

.bg-gallery-3{ 
  background-image: url(/images/p3.jpg);
}

.bg-gallery-4{ 
  background-image: url(/images/p4.jpg);
}

.bg-gallery-5{ 
  background-image: url(/images/p5.jpg);
}

.bg-gallery-6{ 
  background-image: url(/images/p6.jpg);
}

.bg-natural-stone-1{
  background-image: url(/images/bg-natural-stone-1.jpg);
}

.bg-natural-stone-2{
  background-image: url(/images/bg-natural-stone-2.jpg);
}

.bg-natural-stone-3{
  background-image: url(/images/bg-natural-stone-3.jpg);
}


.bg-overlay > * {
  position: relative;
}

.bg-overlay::after {
  z-index: 1;
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--featured);
  opacity: 0.4;
}

.bg-overlay > * {
  z-index: 2;
  position: relative;
}
/* Add a second class to change the color or style  */

.bg-overlay-gradient::after { 
  background-image: linear-gradient(70deg, rgba(0,0,0,0.3), rgba(0,0,0,0));
} 

.bg-overlay-featured::after { 
  background-color: var(--featured);
  opacity: 0.4;
} 

.fixed { background-attachment: fixed; }
/* Aspect Ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. */

a.bg-image { display: block;}

.landscape     { padding-bottom: 66% ; }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }

/*  Card Styles */

.card {
  padding: 2rem;
  background-color: var(--card);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid var(--light);
}

.card h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 0.02em;
}

.card p,
.card li {
  font-size: 1.1rem;
  font-weight: 300;
}

/* Photo Gallery Slider */

.slider-container {
  padding: 5%;
}

.slider-item{
  padding: 0.4rem;
  display: none;
}

.slider-item:first-child {
  display: block;
}

.slick-next {
  right: 10px;
}
.slick-prev {
  left: 10px;
}
.slick-next::before, .slick-prev::before {
  	font-family: 'Montserrat', sans-serif;
  	font-size: 20px;
  	line-height: 1;
  	opacity: .75;
  	color: rgb(40,40,40);
}

.slick-dots{
  bottom: -10px;
  left: 0; 
}

.slick-dots li,
.slick-dots li button {
  width: 10px;
}
.slick-dots li button::before{
  color: var(--dark);
}
.slick-dots li.slick-active button::before {
  color: var(--dark);
}


/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }


/* ------------ Typography Styles ----------------------- */

.left    { text-align: left; }
.right   { text-align: right; }
.center  { text-align: center; }
.justify  { text-align: justify; }
.uppercase    { text-transform: uppercase; }

body {
  font-family: 'Montserrat', sans-serif; 
  color: var(--dark-text);
  font-weight: 400;
  font-size: 1.1rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

h1 { 
  font-size: 1.5rem; 
  font-weight: 300; 
 }

h2 { font-size: 2.2rem; }
h3 { font-size: 1.8rem; }
h4 { 
    font-size: 1.4rem; 
    font-weight: 300;
    letter-spacing: 0.9;
}
h5 { font-size: 1.2rem; }


p, li {
  line-height: 1.4; 
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 400;
  font-size: 1.1rem;
}

h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
	margin-bottom: 0;
}


/* ------------ Header & Hamburger Menu -------------- */
header {
  padding: 1rem 5%;
}

nav a {
  padding: 0.25rem 0.5rem;
  display: inline-block;
  text-decoration: none;
}
nav a:hover {
color: var(--featured-text);
}

.logo {
  text-decoration: none;
  letter-spacing: -0.3px;
  color: var(--dark-text);
}

.logo h2{
  font-size: 1.4rem;
}


/* Unique Typography Styles  */
.emphasis { 
  font-size: 1.4rem;
 }
.text-featured  { color: var(--featured-text);}
.text-light     { color: var(--light-text);}
.subtitle       { font-size: 0.9rem; }
.banner         { font-size: 2.6rem;}
.subtle         { 
  opacity: 0.8; 
  font-size: 0.9rem;
  font-weight: 300;   
}

/* ------------ Icons Styles ------------ */

.las {
  font-size: 2.5rem;
  opacity: 0.8;
}

.fab {
  font-size: 1.4rem;
  opacity: 0.8;
}


/* ------------ Buttons & Links ------------ */
a {
  color: inherit;
}

a:hover {
  color: var(--featured-text); 
}

p a{
  text-decoration: none;
  border-bottom: 1px solid;
}

p a:hover { 
  color: var(--light-grey-text); 
}

span a:hover{
  color: var(--light-text)
}


.button { 
  display: inline-block;
  text-decoration: none;
  background-color: #005C83;
  color: var(--light-text);
  line-height: 1;
  padding: 15px 32px;
  font-size: 16px;
  border: 1px solid #005C83;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}


.sticky-button { 
  display: inline-block;
  text-decoration: none;
  background-color: #005C83;
  color: var(--light-text);
  line-height: 1;
  padding: 18px 32px;
  font-size: 21px;
  border: 1px solid #005C83;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  cursor: pointer;
  position: fixed;
  left: 5%;
  bottom: 2.2rem;
  z-index: 4;
}
.subtle-button {
  text-decoration: none;
  border-bottom: 1px solid;
}

.la-chevron-up{
  display: inline-block;
  text-decoration: none;
  background-color: #005C83;
  color: var(--light-text);
  padding: 8px;
  font-size: 1.8rem;
  border: 1px solid #005C83;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  cursor: pointer;
  position: fixed;
  right: 2%;
  bottom: 2.2rem;
  z-index: 4;
}

.button:hover {
  color: var(--dark-text);
}


.goTop-button:hover{
  color: var(--dark-text);
}
.sticky-button:hover {
  color: var(--dark-text);
}
/* suggested additional styles 
- .button-inverted, .button-subtle, .button-lg  */

/* Social Sharing Buttons */
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* ------------------ Footer styles ----------------- */

.footer-link {
  text-decoration: none;
}
footer a {
  border: none;
}
footer a:hover { color: var(--light-text);}
 
footer .lab { font-size: 1.7rem; }
 
footer h2 { font-weight: 300; }
 
footer p {
    line-height: 1;
    font-weight: 200;
}
 
footer h3 {
    font-size: 1.7rem;
    letter-spacing: -0.3px;
    font-weight: 600;
}
.bg-dark-footer   { background-color: #80935F;  }


/* Dropdown styles */

.dropdown { 
  position: relative; 
  display: inline-block;
  border: 1px solid orange;
}

.dropdown-title {
  padding: 0.25rem 0.5rem;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: -1rem;
  padding: 0.5rem;
  display:none; 
  background-color: white;
  z-index: 2;
  text-align: left;
  min-width: 10rem;
  border: 1px solid mediumvioletred;
}

.dropdown:hover .dropdown-content{ 
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 0.2rem;
}

.hamburger-button {
    cursor: pointer;
    padding: 0.5rem;
    display: inline-block;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 0.8;
    position: fixed;
    right: 4%;
    top: 0.9rem;
    z-index: 4;
  }
  
  /* Styles when the hamburger button is active  */
  .hamburger-button.active {
    color: white;
  }
  
  .mobile-menu {
    display: none; 
    background-color: var(--featured);
    padding: 5%;
    position: fixed; 
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 4rem;
  }
  
  .mobile-menu a {
    text-decoration: none; 
    color: inherit; 
    padding: 4%;
    display: block;
    font-weight: normal;
  }

  .mobile-menu a:hover {
    color: var(--light-text);
  }

/* ------------ Contact Forms  ----------------------- */

form input,
form textarea {
  width: 100%;
  margin: 0.5rem 0; 
  padding: 0.5rem;
  border: 2px solid #005C83;
  outline: none; 
  font-family: inherit;
  font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
  border-color: #9b9b81;
}

textarea {
  min-height: 8rem;
  resize: vertical;
}

form label {
  margin-top: 1rem;
  display: block;
  color: #005C83;
  font-weight: bold;
}

form button{
    border: 2px solid #005C83;
    background: none;
    color: #005C83;
    font-weight: bold;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

form button:hover {
  color: var(--dark-text);
}



/* ------------ Blogging elements  ----------------------- */



/* Post Loop Item  */

.post-item {
  text-decoration: none;
}

/* Individual Elements */

.tag {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 0.8rem;
  margin-right: 0.4rem;
}

.post-info {
  font-size: 0.9rem;
  color: var(--medium-text);
}

/* Individual Blog Post Pages  */

.blog-content h1 {
  font-family: 'Poppins', sans-serif; 
  font-weight: 200;
  font-size: 2.5rem;
}

.blog-content p {
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
}

.blog-content hr {
  border: none;
  border: 1px solid var(--medium);
}


/* Sidebar */
.sidebar-item {
  border: 2px solid var(--light);
  margin-bottom: 1rem;
  color: var(--medium-text);
}
.sidebar-item p {
  font-family: 'Montserrat', sans-serif; 
  font-weight: 300;
}

.recent-posts-nav a{
  display: block;
  font-weight: 300;
}

/* Social Share Nav  */

.social-share a {
  padding: 0.25rem 0.5rem;
}

/* Miscelaneous elements  */

hr.short {
  border: 1px solid var(--dark-text);
  width: 2rem;
  margin: 1rem 0;
}

hr.short.center {
  margin:auto;
  margin: 1rem auto;
}



/* ------------ Responsive Styles ----------------------- */

/* General CSS Responsive Styles (Apply everywhere unless overriden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none; 
}

.inline { 
  display: inline-block;
  vertical-align: top;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media(max-width:64em) {

	.show-md { display: block; }
	.hide-md { display: none;  }

  .md-text{
    font-size: 1.4rem;
  }

}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 


@media(max-width:48em) {

	.show-sm { display: block; }
	.hide-sm { display: none;  }

  .sm-text {
    font-size: 1.1rem;
  }

  .sm-text-center { text-align: center; }
  .sm-text-left   { text-align: left; }
  .sm-text-right  { text-align: right; }

  .sm-padded     { padding: 5%; }
  .sm-padded-1   { padding: 1rem; }
  .sm-padded-05  { padding: 0.5rem; }
  .sm-padded-2   { padding: 2rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }

  .sm-padded-t-10 { padding-top: 10%; }

  .sm-landscape     { padding-bottom: 66% ; }
  .sm-portrait-tall { padding-bottom: 175%; }
  .sm-portrait      { padding-bottom: 125%; }
  .sm-square        { padding-bottom: 100%; }

  .sm-tall-80 { max-height: 80vh;}

  .parallax { background-attachment: scroll; }

  .flex-flip { flex-direction: column-reverse;  }

  .slick-prev {left: -10px; }
  .slick-next {right: -10px; }
  .slick-dots { bottom: -10px; }
}


/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media(max-width:36em) {
    p { font-size: 1.1rem;    }
		.show-xs { display: block; }
		.hide-xs { display: none;  }

    .subtle-heading-xs {
      font-weight: 300;
      font-family: 'Poppins', sans-serif; 
    }
    ul.share-buttons li {
      margin: 5%;
    }
}