 <!-- Footer  -->
 <footer class="grid bg-dark-footer light-text padded padded-b-0">
  <div class="col-12 center-sm">
      <h2 class="logo"> Luca Gardena Design </h2>
      <h3> Web Design & Development </h3>
  </div>
  <div class="col-6_sm-12-bottom center-sm">
      <h3> Find Us At </h3>
      <p> <a href="mailto: hello@thedesigncollective.com"> <strong> Email: hello@thedesigncollective.com </strong></a></p>
      <p> <a href="phone: +62 458 008 66787"> <strong> Ph.: +62 458 008 66787 </strong></a></p>
  </div>
  <div class="col-6_sm-12-bottom right center-sm">
      <h3> Let's Connect </h3>
      <nav>
          <a href="#"> <i class="lab la-instagram"></i> </a>
          <a href="#"> <i class="lab la-facebook"></i> </a>
      </nav>              
  </div>
  <div class="col-12 center padded-t">
      <p class="subtle"> Copyright 2022 </p>
  </div>
</footer>