 <!----------- Footer ------------->
 <footer class="bg-dark-footer light-text">
    <div class="grid padded padded-b-0">
        <div class="col-12 center-sm margin-b-2">
            <h2 class="logo"> LOGO</h2>
            <h3> Colțul de natură imaginat, acasă la tine </h3>
        </div>
        <div class="col-8_sm-12-bottom center-sm">
            <h3> Contactează-ne la: </h3>
            <p> <a href="mailto: contact@lucagardendesign.ro"> <strong> Email: contact@lucagardendesign.ro </strong></a></p>
            <p> <a href="phone: +40 721 490 413"> <strong> Tel.: +40 721 490 413 </strong></a></p>
        </div>
        <div class="col-4_sm-12-bottom right">
            <h3> Ne găsești online pe: </h3>
            <nav>
                <a href="#"> <i class="lab la-instagram"></i> </a>
                <a href="#"> <i class="lab la-facebook"></i> </a>
            </nav>              
        </div>
        <div class="col-12 center padded-1">
            <nav>
            <a href="#"> Politica de cookie </a>
            <a href="#"> Politica de confidențialitate </a>
            </nav>  
        </div>  
    </div> 
    <div class="col-12 center padded-1 bg-dark">
        <p class="subtle text-light"> Copyright 2022 </p>
    </div>
</footer>