
<header class="grid-middle bg-light">
    <div class="col-5_sm-6 grid-spaceAround">
      <div class="col-2_md-4_sm-5 bg-logo"> </div>
      <div class="col-9_md-7_sm-6">
         <a class="logo" href="/index"> 
          <h2 class="md-text sm-text"> Luca Garden Design </h2> 
        </a>
      </div>
    </div> 
    <nav class="col-7-sm-6 hide-sm right">
      <a href="/servicii"> Servicii </a>
      <a href="/contact"> Contact </a>
      <a href="/blog"> Blog </a>
      <a href="/arhivă-blog"> Arhivă Blog </a>
    </nav> 

    <div class="col-7 right show-sm">
      <button class="hamburger-button"> &#9776; </button>
    </div>
  </header>
  
  <div class="mobile-menu"> 
    <nav> 
      <a href="/servicii"> Servicii </a>
      <a href="/contact"> Contact </a>
      <a href="/blog"> Blog </a>
      <a href="/arhivă-blog"> Arhivă Blog </a>
    </nav>
  </div> 

