 <!----------- Footer ------------->
 <footer class="bg-dark-footer light-text">
    <div class="grid padded padded-b-0">
        <div class="col-12 center margin-b-2">
            <h2 class="logo"> LOGO</h2>
        </div>
        <div class="col-12-bottom center">
            <h4> <strong> Contactează-ne: </strong> </h4>
            <p> <a href="mailto: contact@lucagardendesign.ro"> <strong> <i class="las la-envelope"></i> contact@lucagardendesign.ro </strong></a></p>
            <p> <a href="phone: +40 721 490 413"> <strong> <i class="las la-phone-alt"></i> +40 721 490 413 </strong></a></p>
            <p> <strong> <i class="las la-map-marker"></i> Adresă: DN 1 Săftica, Str. Principala, Nr. 134, Judeţul Ilfov </strong></p>
            <nav>
                <a href="#"> <i class="lab la-instagram"></i> </a>
                <a href="#"> <i class="lab la-facebook"></i> </a>
            </nav>
        </div>               
       
        <div class="col-12 center padded-t-2">
            <nav>
            <a href="/cookie-policy"> Politica de cookie </a>
            <a href="/privacy-policy"> Politica de confidențialitate </a>
            </nav>  
        </div>  
    </div> 
    <div class="col-12 center padded-1 bg-dark">
        <p class="subtle text-light"> Copyright 2022 </p>
    </div>
</footer>