<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0" nonce="Ar5iEHUW"></script>

<div class="social-share center margin-t">

    <hr class="short center"> 

    <h4 class="margin-b-05"> Distibuie </h4>


    <!-- <nav>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.data.site-settings.social.twitter_username }}&related={{ site.data.site-settings.social.twitter_username }}" rel="nofollow" target="_blank" title="Distribuie pe Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Distribuie pe Facebook" > 
        <i class="fab fa-facebook-f"></i>
        </a>
        <a href="http://pinterest.com/pin/create/link/?url={{page.url}}&description={{page.title}}" rel="nofollow" target="_blank" title="Distribuie pe Pinterest">
        <i class="fab fa-pinterest-p"></i>
        </a>
    </nav> -->

<div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="fb-xfbml-parse-ignore"></a></div>
   
<ul class="share-buttons" data-source="simplesharingbuttons.com">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="images/simple_icons/Facebook.png" /></a></li>
    <li><a href="https://twitter.com/intent/tweet?source={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.data.site-settings.social.twitter_username }}&related={{ site.data.site-settings.social.twitter_username }}" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="images/simple_icons/Twitter.png" /></a></li>
    <li><a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&description={{page.title}}" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><img alt="Pin it" src="images/simple_icons/Pinterest.png" /></a></li>
  </ul>







