<!DOCTYPE html>
<html lang="ro">

<head>

    {% include head.html %}
    
</head>

<body>

    <a name="top" id="top"></a>

    {% include inline-styles.html %}
    
    {% include site-header.html %}

    {{content}}

    {% include site-footer.html %}
    
    <div> 
        <a href="#top" id="goTop" class="goTop-button "> <i class="las la-hand-point-up"></i> </a>
    </div>
   

    <!-- Javascript  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="/main.js"></script>

</body>

</html>